# Carpeta con datos privados (credenciales, dominio, etc.)
No Subir/
"No Subir"/

# Archivos de sistema
.DS_Store
Thumbs.db
desktop.ini

# Temporales
*.tmp
*.log

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
